@import helper._
@import models.common.form.LoginForm

@(form: play.data.Form[LoginForm], token: String)

@views.html.common.main("RESOLVEWebIDE - Login", null) {
    <div class="container py-2">
        <div class="card card-outline-secondary">
            <h5 class="card-header text-center">Login</h5>
            @if(form.hasErrors) {
                <div class="card-body">
                    <div class="alert alert-danger" role="alert">
                        <strong>Error(s) detected!</strong> Unknown username or password.
                    </div>
                </div>
            }

            @helper.form(action = controllers.common.security.routes.Security.login()) {
                @CSRF.formField
                <div class="card-body">
                    <div class="form-group row">
                        <div class="input-group col-sm-7">
                            <span class="input-group-addon" id="fa-user-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                            <input type="email" class="form-control @if(form.hasErrors) {is-invalid}" id="inputEmail" name="email" placeholder="Email Address" @if(form.field("email").value() != null) {value="@form.field("email").value()"}>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group col-sm-7">
                            <span class="input-group-addon" id="fa-lock-icon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                            <input type="password" class="form-control @if(form.hasErrors) {is-invalid}" id="inputPassword" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" id="inputRememberPassword" name="rememberPassword">
                            Remember me
                        </label>
                    </div>
                </div>

                <div class="card-footer text-center">
                    <div class="row">
                        <button type="submit" class="btn btn-sm btn-success">Sign In</button>
                        <a class="btn btn-sm btn-danger" href="@controllers.webide.routes.Interface.index()">Cancel</a>
                    </div>
                    <hr class="my-1">
                    <div class="row">
                        <a href="@controllers.common.passwordrecovery.routes.PasswordRecovery.index()">Forgot password?</a>
                        Click <a href="@controllers.common.registration.routes.Registration.index()">HERE</a> to register.
                    </div>
                </div>
            }
        </div>
    </div>
}