@import java.util
@import models.common.database.Project

@(projects: util.List[Project], activeProject: Project)

<div id="components-toolbar" class="btn-toolbar" role="toolbar" aria-label="components-toolbar">
    <div class="btn-group btn-group-sm mr-3" role="group" aria-label="project-button-group">
        <a class="btn btn-outline-primary" href="?p=@activeProject.id" role="button">@activeProject.name</a>
        @if(projects.size > 1) {
        <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="workspace-ids">
        @for(p <- projects) {
            @if(p.name != activeProject.name) {
                <a class="dropdown-item" href="?p=@p.id">@p.name</a>
            }
        }
        </div>
        }
    </div>
    <div class="btn-group btn-group-sm" role="group" aria-label="components-button-group">
        <a class="btn btn-outline-primary" href="#" role="button">Components</a>
    </div>
</div>