@import java.util
@import models.common.database.Project

@(projects: util.List[Project], activeProject: Project)

<nav id="components-toolbar" class="navbar navbar-full" aria-label="components-toolbar">
    <ul class="nav navbar-nav">
        <li class="nav-item dropdown">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary navbar-btn">
                    <a href="?p=@activeProject.id" style="text-decoration: none;">@activeProject.name</a>
                </button>
                <button type="button" class="btn btn-secondary navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="workspace-ids">
                @if(projects.size == 1) {
                    <p class="text-center">None Available</p>
                } else {
                    @for(p <- projects) {
                        @if(p.name != activeProject.name) {
                            <a class="dropdown-item" href="?p=@p.id">@p.name</a>
                        }
                    }
                }
                </div>
            </div>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-secondary navbar-btn">
                <a href="#" style="text-decoration: none;">Components</a>
            </button>
        </li>
    </ul>
</nav>