/*
 * These are the CSS used by the RESOLVE WebIDE
 * Created by: Yu-Shan Sun
 * Last Modified: 02/26/2018
 */

/* General CSS */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Leaving space for footer */
    margin-bottom: 40px;
    background-color: #fdfdfd !important;
    font-size: 1rem;
}

/* Header-Related CSS (header.scala.html) */
#page-header {
    min-height: 60px;
    background-color: #522d80 !important;
    color: #fdfdfd !important;
}

/* Main Content-Related CSS (main.scala.html) */
#page-content {
    position: relative;
    top: 0;
    bottom: 40px;
    min-height: calc(100vh - 100px);
}

/* Footer-Related CSS (footer.scala.html) */
#page-footer {
    /* Sticky footer */
    position: absolute;
    bottom: 0;
    height: 40px;
    background-color: #522d80 !important;
    opacity: 0.75;
}

#footer-content {
    background-color: #522d80 !important;
    color: #fdfdfd !important;
}

/* Help Modal CSS (help.scala.html) */
#help-modal .modal-body {
    max-height: 500px;
    overflow-y: auto;
}

/* CSS for Ace Editor */
#editor {
    position: absolute;
    top: 110px;
    bottom: 45px;
    right: 15px;
    left: 15px;
}

/* CSS for left sidebar */
#left-sidebar {
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 40px;
    z-index: 500;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}