/*
 * These are the CSS used by the RESOLVE WebIDE
 * Created by: Yu-Shan Sun
 * Last Modified: 09/14/2016
 */

/* Main CSS */
html {
    position: relative;
    min-height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    display: block;
    font-size: 1.25rem;
}

/* CSS for header in header.scala.html */
#page-header {
    width: 100%;
    height: 55px;
    font-size: 1rem;
}

/* CSS for footer in footer.scala.html */
#page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-size: 1rem;
    background-color: #f5f5f5;
    text-align: center;
}

/* Helper CSS for page-main */
.custom-padding-top {
    padding-top: 2.5rem;
}

/* CSS for Ace Editor */
#editor {
    position: absolute;
    top: 110px;
    bottom: 45px;
    right: 15px;
    left: 15px;
}

/* CSS for help modal in help.scala.html */
.modal .modal-body {
    max-height: 425px;
    overflow-y: auto;
}

.help-title {
    text-align: center;
}

.help-content {
    text-align: justify;
}