/*
 * These are the CSS used by the RESOLVE WebIDE
 * Created by: Yu-Shan Sun
 * Last Modified: 11/03/2016
 */

/* Main CSS */
html {
    position: relative;
    min-height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    display: block;
    font-size: 1.25rem;
}

/* CSS for header in header.scala.html */
#page-header {
    height: 55px;
    font-size: 1rem;
}

/* CSS for footer in footer.scala.html */
#page-footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    font-size: 1.15rem;
}

/* CSS for Ace Editor */
#editor {
    position: absolute;
    top: 110px;
    bottom: 45px;
    right: 15px;
    left: 15px;
}

/* CSS for help modal in help.scala.html */
.modal .modal-body {
    max-height: 425px;
    overflow-y: auto;
}