@import models.common.database.User

@(title: String, currentUser: User)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>@title</title>

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="@controllers.common.routes.Assets.versioned("images/resolve_logo.png")">

        <!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" media="screen" href="@controllers.common.routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- Code to display the header -->
        @views.html.common.tags.header(currentUser)

        <!-- Code to display the main content -->
        <section id="page-main">
            <!-- Content passed in gets displayed here -->
            @content

            <!-- Code to display the help modal -->
            @views.html.common.tags.help()
        </section>

        <!-- Code to display the footer -->
        @views.html.common.tags.footer()

        <!-- Our Own JavaScripts -->
        <script src="@controllers.common.routes.Assets.versioned("javascripts/main.js")" type="text/javascript" charset="${_response_encoding}"></script>
        <script type="text/javascript">
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            // Create YouTube player(s) after the API code downloads.
            var player1, player2;
            function onYouTubeIframeAPIReady() {
                player1 = new YT.Player('webide-video1', {
                    height: '315', width: '560', videoId: 'sif9MnpvQZE'
                });

                player2 = new YT.Player('webide-video2', {
                    height: '315', width: '560', videoId: '9vg3WuxeOkA'
                });
            }

            $('#help-modal').on('hidden.bs.modal', function() {
                player1.pauseVideo();
                player2.pauseVideo();
            });
        </script>
    </body>
</html>
