@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <!-- CSS -->
        <link rel="stylesheet" media="screen" href="@controllers.common.routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@controllers.common.routes.Assets.at("stylesheets/css3-github-buttons/gh-buttons.css")">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/redmond/jquery-ui.css">

        <!-- JavaScript Libraries -->
        <script src="@controllers.common.routes.Assets.at("javascripts/libraries/jquery-1.11.0.min.js")" type="text/javascript"></script>
        <script src="@controllers.common.routes.Assets.at("javascripts/libraries/jquery-ui.js")" type="text/javascript"></script>

        <!-- Our own JavaScripts -->
        <script src="@controllers.common.routes.Assets.at("javascripts/help.js")" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@controllers.common.routes.Assets.at("javascripts/main.js")" type="text/javascript" charset="${_response_encoding}"></script>
    </head>
    <body style="margin: 0px;">
        <div id="content">
            <!-- Code to display user bar -->
            @views.html.common.tags.user_bar()
            <!-- Content passed in gets displayed here -->
            @content
            <!-- Code to the display footer -->
            @views.html.common.tags.footer()
        </div>
        <div id="dialog_help" class="hidden"></div>
        <div id="background" class="background"></div>
    </body>
</html>