@import models.common.database.User

@(currentUser: User)(pageContent: Html)

@views.html.common.main("RESOLVEWebIDE - Admin", currentUser) {
    <div class="container-fluid">
		<div class="row flex-xl-nowrap">
			<div id="page-sidebar" class="col-12 col-md-4 col-lg-3 col-xl-2">
				<button class="btn btn-light d-md-none d-flex mr-auto mb-2" type="button" data-toggle="collapse" data-target="#page-sidebar-nav" aria-controls="page-sidebar-nav" aria-expanded="false" aria-label="Toggle sidebar navigation">
					<i class="fa fa-bars fa-fw" aria-hidden="true"></i>
				</button>
				<nav id="page-sidebar-nav" class="collapse">
					<ul class="nav nav-pills flex-column">
						<li class="nav-item">
							<a class="nav-link" href="@controllers.admin.overview.routes.Overview.index()"><i class="fa fa-binoculars fa-fw" aria-hidden="true"></i>&nbsp; Overview</a>
						</li>
					</ul>
					<ul class="nav nav-pills flex-column mt-2">
						<li class="text-center font-weight-bold">Data</li>
						<li class="nav-item">
							<a class="nav-link" href="#"><i class="fa fa-table fa-fw" aria-hidden="true"></i>&nbsp; Data Tables</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#"><i class="fa fa-bar-chart fa-fw" aria-hidden="true"></i>&nbsp; Charts</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#"><i class="fa fa-share-square-o fa-fw" aria-hidden="true"></i>&nbsp; Export</a>
						</li>
					</ul>
					<ul class="nav nav-pills flex-column mt-2">
						<li class="text-center font-weight-bold">More</li>
						<li class="nav-item">
							<a class="nav-link" href="#"><i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp; User Profile</a>
						</li>
					</ul>
				</nav>
			</div>
			<main class="col-12 col-md-8 col-lg-9 col-xl-10 py-3" role="main">
				<!-- Content passed in gets displayed here -->
				@pageContent
			</main>
		</div>
	</div>
}