@import java.util
@import models.common.database.Project

@(projects: util.List[Project], activeProject: Project)

@views.html.common.main("RESOLVEWebIDE - Registration", projects, activeProject) {
    <div class="container" style="padding-top:30px; padding-bottom:30px;">
        <div class="panel panel-primary">
            <div class="panel-heading">Registration</div>
            <div class="panel-body">
                Panel content
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-8"></div>
                    <div class="col-xs-6 col-md-4">
                        <button type="button" class="btn btn-success">Create Account</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}