@import helper._
@import models.common.database.User
@import models.common.form.UpdateProfileForm

@(currentUser: User, form: play.data.Form[UpdateProfileForm], token: String, updateSuccess: Boolean)

@views.html.common.main("RESOLVEWebIDE - Edit User Profile", currentUser) {
    <div class="container-fluid py-2">
        <div class="card card-outline-secondary">
            <h4 class="card-header text-xs-center text-uppercase">Edit Your User Profile</h4>
            @if(form.hasErrors) {
                <div class="card-block">
                    <div class="alert alert-danger" role="alert">
                        <strong>Error(s) detected!</strong> Please correct the errors and submit the form again.
                    </div>
                </div>
            }
            @if(updateSuccess) {
                <div class="card-block">
                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Success!</strong> Your user profile has been updated successfully.
                    </div>
                </div>
            }
            @helper.form(action = controllers.common.profile.routes.EditProfile.handleSubmit()) {
                @CSRF.formField
                <div class="card-block">
                    <div class="card-deck-wrapper">
                        <div class="card-deck">
                            <div class="card">
                                <h5 class="card-header text-xs-center">General</h5>
                                <div class="card-block">
                                    <div class="form-group row">
                                        <label for="inputFirstName" class="col-xs-3 col-form-label">Account Type</label>
                                        <div class="col-xs-9">
                                            <p class="form-control-static mb-0 text-muted">
                                            @currentUser.userType match {
                                                case 0 => {User}
                                                case 1 => {Super User}
                                                case 2 => {Administrator}
                                            }
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group row @if(form.error("firstName") != null) {has-danger}">
                                        <label for="inputFirstName" class="col-xs-3 col-form-label">First Name</label>
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control @if(form.error("firstName") != null) {form-control-danger}" id="inputFirstName" name="firstName" placeholder="First Name" @if(form.field("firstName").value() != null) {value="@form.field("firstName").value()"}>
                                        </div>
                                    </div>
                                    <div class="form-group row @if(form.error("lastName") != null) {has-danger}">
                                        <label for="inputLastName" class="col-xs-3 col-form-label">Last Name</label>
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control @if(form.error("lastName") != null) {form-control-danger}" id="inputLastName" name="lastName" placeholder="Last Name" @if(form.field("lastName").value() != null) {value="@form.field("lastName").value()"}>
                                        </div>
                                    </div>
                                    <div class="form-group row @if((form.error("email") != null) || (form.error("registeredEmail") != null)) {has-danger}">
                                        <label for="inputEmail" class="col-xs-3 col-form-label">Email</label>
                                        <div class="col-xs-9">
                                            <input type="email" class="form-control @if((form.error("email") != null) || (form.error("registeredEmail") != null)) {form-control-danger}" id="inputEmail" name="email" placeholder="Email" @if(form.field("email").value() != null) {value="@form.field("email").value()"}>
                                            @if(form.error("registeredEmail") != null) {
                                                <div class="form-control-feedback">
                                                    Sorry, email already in use. Try completing the <a href="@controllers.common.passwordrecovery.routes.PasswordRecovery.index()">Password Reset</a>
                                                    form instead.
                                                </div>
                                            }
                                            <small id="emailHelpInline" class="text-muted">
                                                Must be a valid email.
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group row @if((form.error("password") != null) || (form.error("passwordLength") != null)) {has-danger}">
                                        <label for="inputPassword" class="col-xs-3 col-form-label">Password</label>
                                        <div class="col-xs-9">
                                            <input type="password" class="form-control @if((form.error("password") != null) || (form.error("passwordLength") != null)) {form-control-danger}" id="inputPassword" name="password" placeholder="Password">
                                            @if(form.error("passwordLength") != null) {
                                                <div class="form-control-feedback">
                                                @form.error("passwordLength").message()
                                                </div>
                                            }
                                            <small id="passwordHelpInline" class="text-muted">
                                                Must be 6-20 characters long.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <h5 class="card-header text-xs-center">Verification Settings</h5>
                                <div class="card-block">
                                    <div class="form-group row @if(form.error("timeoutSize") != null) {has-danger}">
                                        <label for="inputTimeout" class="col-xs-3 col-form-label">Prover Timeout</label>
                                        <div class="col-xs-9">
                                            <input type="number" class="form-control @if(form.error("timeoutSize") != null) {form-control-danger}" id="inputTimeout" name="timeout" placeholder="5" min="1" max="30" @if(form.field("timeout").value() != null) {value="@form.field("timeout").value()">
                                            @if(form.error("timeoutSize") != null) {
                                                <div class="form-control-feedback">
                                                @form.error("timeoutSize").message()
                                                </div>
                                            }
                                            <small id="timeoutHelpInline" class="text-muted">
                                                Must be a number between 1-30 (time in seconds).
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group row @if(form.error("numTriesSize") != null) {has-danger}">
                                        <label for="inputNumTries" class="col-xs-3 col-form-label">Max Failed VCs</label>
                                        <div class="col-xs-9">
                                            <input type="number" class="form-control @if(form.error("numTriesSize") != null) {form-control-danger}" id="inputNumTries" name="numTries" placeholder="3" min="1" max="10" @if(form.field("numTries").value() != null) {value="@form.field("numTries").value()">
                                            @if(form.error("numTriesSize") != null) {
                                                <div class="form-control-feedback">
                                                @form.error("numTriesSize").message()
                                                </div>
                                            }
                                            <small id="numTriesHelpInline" class="text-muted">
                                                Must be a number between 1-10.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="row">
                        <div class="text-xs-center">
                            <button type="submit" class="btn btn-success">Apply Changes</button>
                            <a class="btn btn-danger" href="@controllers.webide.routes.Interface.index()">Cancel</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}