@import models.common.database.User

@(currentUser : User)

<header id="page-header" class="d-flex flex-column">
    <nav class="navbar navbar-expand-md navbar-dark flex-row justify-content-between" role="navigation">
        <span class="text-center align-bottom">
            Welcome @if(currentUser != null) {@currentUser.firstName} else {User}.
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#general-nav" aria-controls="general-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="general-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@controllers.webide.routes.Interface.index()"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="moduleListDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th-large fa-fw" aria-hidden="true"></i> Modules</a>
                    <div class="dropdown-menu" aria-labelledby="moduleListDropdown">
                        <a class="dropdown-item" href="@controllers.webide.routes.Interface.index()">WebIDE</a>
                        @if(currentUser != null && currentUser.userType >= 1) {
                            <a class="dropdown-item" href="#">Invariant Data Analysis</a>
                        }
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@controllers.bydesign.core.routes.Index.index()">byDesign</a>
                        @if(currentUser != null && currentUser.userType >= 1) {
                            <a class="dropdown-item" href="@controllers.bydesign.dataanalysis.routes.DataAnalysis.index()">byDesign Data Analysis</a>
                        }
                        @if(currentUser != null && currentUser.userType == 2) {
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@controllers.admin.overview.routes.Overview.index()">Admin</a>
                        }
                    </div>
                </li>
                @if(currentUser == null) {
                    <li class="nav-item">
                        <a class="nav-link" href="@controllers.common.registration.routes.Registration.index()"><i class="fa fa-user fa-fw" aria-hidden="true"></i> Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@controllers.common.security.routes.Security.index()"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i> Sign In</a>
                    </li>
                } else {
                    <li class="nav-item">
                        <a class="nav-link" href="@controllers.common.profile.routes.EditProfile.index()"><i class="fa fa-user fa-fw" aria-hidden="true"></i> Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@controllers.common.security.routes.Security.logout()"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Logout</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" href="#help-modal" data-toggle="modal" data-target="#help-modal"><i class="fa fa-question-circle fa-fw" aria-hidden="true"></i> Help</a>
                </li>
            </ul>
        </div>
    </nav>
</header>