@import java.util
@import models.common.database.Project

@(projects: util.List[Project], activeProject: Project)

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#general-nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-text">
                Welcome <b>User</b>.
            </p>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="general-nav">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default navbar-btn" style="margin-bottom: 0px;">
                            <a href="?p=@activeProject.id">@activeProject.name</a>
                        </button>
                        <button type="button" class="btn btn-default navbar-btn dropdown-toggle" style="margin-bottom: 0px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            @if(projects.size == 1) {
                                <li><p></p></li>
                                <li><p class="text-center">None Available</p></li>
                            } else {
                                @for(p <- projects) {
                                    @if(p.name != activeProject.name) {
                                        <li><a href="?p=@p.id">@p.name</a></li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </li>
                <button type="button" class="btn btn-default navbar-btn" style="margin-left: 10px; margin-bottom: 0px;">
                    <a href="#">Components</a>
                </button>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/registration"><span class="glyphicon glyphicon-user"></span> Register</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-log-in"></span> Sign In</a>
                </li>
                <li style="margin-right: 10px">
                    <button type="button" class="btn btn-info navbar-btn" data-toggle="modal" data-target=".bs-example-modal-lg">Help</button>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>