@import java.util
@import models.common.database.Project

@(projects: util.List[Project], defaultProject: Project)

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#general-nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-text">
                Welcome <b>User</b>.
            </p>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="general-nav">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>@defaultProject.name</b> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        @for(p <- projects) {
                            <li><a href="#">@p.name</a></li>
                        }
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button type="button" class="btn btn-default navbar-btn">
                        <a href="#">Register</a>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-default navbar-btn">
                        <a href="#">Sign In</a>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-info navbar-btn" data-toggle="modal" data-target=".bs-example-modal-lg">Help</button>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>