@import helper._
@import models.common.form.PasswordRecoveryForm

@(form: play.data.Form[PasswordRecoveryForm], token: String)

@views.html.common.main("RESOLVEWebIDE - Password Recovery", null) {
    <div class="container py-2">
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="card card-outline-secondary">
            <h5 class="card-header text-center">Password Recovery Form</h5>
            @if(form.hasErrors) {
                <div class="card-body">
                    <div class="alert alert-danger" role="alert">
                        <strong>Error(s) detected!</strong> Please correct the errors and submit the form again.
                    </div>
                </div>
            }
            @helper.form(action = controllers.common.passwordrecovery.routes.PasswordRecovery.handleSubmit()) {
                @CSRF.formField
                <div class="card-body">
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control @if((form.error("email") != null) || (form.error("emailNotFound") != null)) {is-invalid}" id="inputEmail" name="email" placeholder="Email" @if(form.field("email").value() != null) {value="@form.field("email").value()"}>
                            @if(form.error("emailNotFound") != null) {
                                <div class="form-control-feedback">
                                    Sorry, the specified email cannot be found. Please check for spelling!
                                </div>
                            }
                            <small id="emailHelpInline" class="text-muted">
                                Must be a valid email.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="g-recaptcha" data-sitekey="6LfrQAcUAAAAANqp7L5VsUud_EBXilQPRdut9UNw" data-callback="captchaCallback"></div>
                        @if(form.error("reCaptchaFailure") != null) {
                            <div class="invalid-feedback">
                                @form.error("reCaptchaFailure").message()
                            </div>
                        }
                        <input type="hidden" name="reCaptcha" id="reCaptcha">
                    </div>
                    <div class="row text-center">
                        We will send you an email immediately with instructions on how to access your account.
                    </div>
                </div>

                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-sm btn-success">Submit</button>
                    <a class="btn btn-sm btn-danger" href="@controllers.webide.routes.WebIDEController.index()">Cancel</a>
                </div>
            }
        </div>
    </div>

    <script>
        function captchaCallback() {
            document.getElementById("reCaptcha").value = document.getElementById("g-recaptcha-response").value;
        }
    </script>
}