@(email: String)

@views.html.common.main("RESOLVEWebIDE - Password Recovery") {
    <div class="container" style="padding-top: 2.5rem;">
        <div class="card card-outline-secondary">
            <h5 class="card-header text-xs-center">RESOLVE Web IDE Password Recovery</h5>
            <div class="card-block">
                <p class="card-text">Your password has been successfully reset for the following account: <b>@email</b>.
                    An email has been sent to this email address confirming this action.</p>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="text-xs-center">
                        <a class="btn btn-primary" href="@controllers.webide.routes.Interface.index()">Back to RESOLVE Web IDE's Home Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}