@views.html.common.main("RESOLVEWebIDE - Password Recovery", null) {
    <div class="container py-2">
        <div class="card card-outline-secondary">
            <h5 class="card-header text-center">RESOLVE Web IDE Password Recovery</h5>
            <div class="card-body">
                <p class="card-text">
                    An email has been sent to the email address you provided with a confirmation link.
                    Please click the link or copy and paste it into your browser address bar to reset your password.</p>
            </div>

            <div class="card-footer text-center">
                <a class="btn btn-sm btn-primary" href="@controllers.webide.routes.Interface.index()">Back to RESOLVE Web IDE's Home Page</a>
            </div>
        </div>
    </div>
}