@import java.util
@import models.common.database.Project

@(projects: util.List[Project], activeProject: Project)

@views.html.common.main("RESOLVEWebIDE") {
    <!-- Code to display components bar -->
    @views.html.webide.tags.component_bar(projects, activeProject)

    <!-- Code to display ace editor -->
    <div id="editor">function foo(items) {
    var x = "All this is syntax highlighted";
    return x;
}</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js" type="text/javascript" integrity="sha256-xx76EmQ2A+LP9GzPIVjY5UDJJMbR/BSiTvMWi0as4/I=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/theme-chrome.js" type="text/javascript" integrity="sha256-2jUy9rC6tFAo+szqQ4aLVd5dyICBOH+FBV8CUU8VyZs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/mode-javascript.js" type="text/javascript" integrity="sha256-PYR7k/1NIYbvgnQFqVaOwI8Rge6OGKPiKBHX6AQEHfk=" crossorigin="anonymous"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/chrome");
        editor.getSession().setMode("ace/mode/javascript");
    </script>
}