@import java.util
@import models.common.database.Project

@(projects: util.List[Project], activeProject: Project)

@views.html.common.main("RESOLVEWebIDE") {
    <!-- Code to display components bar -->
    @views.html.common.tags.component_bar(projects, activeProject)

    <!-- Code to display ace editor -->
    <div id="editor">function foo(items) {
    var x = "All this is syntax highlighted";
    return x;
}</div>
    
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/chrome");
        editor.getSession().setMode("ace/mode/javascript");
    </script>
}