@(firstName : String, link : String)

<html>
    <body>
        <p>
            Hello <b>@firstName</b>,
        </p>
        <p>
            To complete registration for the Clemson RESOLVE Web IDE, please click the link below:
        </p>
        <p>
            <a href="@link">@link</a>
        </p>

        <p>
            If you have any issues, please contact <a href="mailto=msitara@@clemson.edu">Murali Sitaraman</a>
        </p>
        <p>
            Thanks, <br>
            Clemson RSRG
        </p>
    </body>
</html>