@(firstName : String, link : String)

<html>
    <body>
        <p>
            Hello <b>@firstName</b>,
        </p>
        <p>
            Your existing password has been deactivated.
        </p>
        <p>
            To complete the password resetSuccess process, please click below or copy and paste the link into your browser address bar.
        </p>
        <p>
            <a href="@link">@link</a>
        </p>

        <p>
            If you have any issues, please contact <a href="mailto=msitara@@clemson.edu">Murali Sitaraman</a>
        </p>
        <p>
            Thanks,<br>
            Clemson RSRG
        </p>
    </body>
</html>