@import java.lang

@(firstName : lang.String, oldEmail: lang.String, newEmail : lang.String)

<html>
    <body>
        <p>
            Hello <b>@firstName</b>,
        </p>
        <p>
            Your username has been updated from <b>@oldEmail</b> to <b>@newEmail</b>.
        </p>

        <p>
            If you did not authorize this action, please contact <a href="mailto=msitara@@clemson.edu">Murali Sitaraman</a>
        </p>
        <p>
            Thanks,<br>
            Clemson RSRG
        </p>
    </body>
</html>