@(firstName : String, email : String, link : String)

<html>
    <body>
        <p>
            Welcome <b>@firstName</b>,
        </p>
        <p>
            Thank you for completing the registration for the Clemson RESOLVE Web IDE: <a href="@link">@link</a>.<br>
            Your username is: <b>@email</b>
        </p>
        <p>
            You should now be able to login and use all the benefits associated. This includes:
        </p>
        <ul>
            <li>Create new components</li>
            <li>Importing and Exporting files</li>
        </ul>

        <p>
            If you have any issues or questions, please contact <a href="mailto=msitara@@clemson.edu">Murali Sitaraman</a>
        </p>
        <p>
            Thanks, <br>
            Clemson RSRG
        </p>
    </body>
</html>