@(email: String, firstName: String, lastName: String)

@views.html.common.main("RESOLVEWebIDE - Registration", null) {
    <div class="container py-2">
        <div class="card card-outline-secondary">
            <h5 class="card-header text-xs-center">RESOLVE Web IDE Registration Complete</h5>
            <div class="card-block">
                <p class="card-text">
                    <b>Login Username</b>: @email
                </p>
                <p class="card-text">
                    <b>First name</b>: @firstName
                </p>
                <p class="card-text">
                    <b>Last name</b>: @lastName
                </p>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="text-xs-center">
                        <a class="btn btn-primary" href="@controllers.webide.routes.Interface.index()">Back to RESOLVE Web IDE's Home Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}