@import helper._
@import java.lang
@import java.util
@import models.common.database.ByDesignEvent
@import models.common.database.User

@(currentUser: User, selectedFilename: lang.String, invalidFile: lang.Boolean,
        eventsMap: util.Map[lang.Long, util.List[ByDesignEvent]], dateGenerated: util.Date)

@views.html.common.main("RESOLVEWebIDE - byDesign", currentUser) {
    <div class="container-fluid">
        <div class="card mt-2 mb-3">
            <h4 class="card-header text-xs-center text-uppercase">Data Analysis</h4>

            <div class="alert alert-danger alert-dismissible fade in" role="alert" @if(!invalidFile) { style="display: none;" }>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Invalid file!</strong> The ID file must be a valid CSV file with user IDs.
            </div>

            <nav id="data-analysis-toolbar" class="navbar navbar-full" aria-label="data-analysis-toolbar">
                <span class="tag tag-default">
                    Currently Analysing:
                </span>
                <span class="navbar-text">
                    @selectedFilename
                </span>

                @helper.form(action = controllers.bydesign.dataanalysis.routes.DataAnalysis.upload(),
                    'enctype -> "multipart/form-data", 'class -> "form-inline float-xs-right", 'id -> "fileUpload") {
                    @CSRF.formField
                    <input type="file" id="idFile" name="idFile" accept=".csv, text/csv" required>
                    <button type="submit" class="btn btn-success">Upload</button>
                    <a class="btn btn-danger" href="@controllers.bydesign.dataanalysis.routes.DataAnalysis.index()" role="button">Clear Analysis</a>
                }
            </nav>

            @if(!invalidFile && !eventsMap.isEmpty) {
                <div class="card-block row">
                    <div class="col-xs-2">
                        <div class="card-block px-0 pt-0">
                            <div class="card">
                                <h5 class="card-title text-xs-center">Filters</h5>
                                <p class="card-text">Filter options will go here...</p>
                            </div>
                            <div class="card">
                                <h5 class="card-title text-xs-center">Sorting</h5>
                                <p class="card-text">Sorting options will go here...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <table class="table table-sm table-bordered">
                            <thead class="thead-default">
                                <tr>
                                    <th class="text-xs-center">Author ID</th>
                                    <th class="text-xs-center">Code</th>
                                    <th class="text-xs-center">Correct</th>
                                    <th class="text-xs-center">Module Name</th>
                                    <th class="text-xs-center">Lesson Name</th>
                                    <th class="text-xs-center">Time Spent on Lesson</th>
                                </tr>
                            </thead>
                            <tbody class="text-xs-center">
                                @for(key <- eventsMap.keySet()) {
                                    @for(event <- eventsMap.get(key)) {
                                        <tr>
                                            <td>@event.author</td>
                                            <td><a class="btn btn-primary btn-sm" href="#" role="button">Show Code</a></td>
                                            <td>@event.correct</td>
                                            <td>@event.module</td>
                                            <td>@event.lesson</td>
                                            <td>@event.time</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }

            @if(dateGenerated != null) {
                <div class="card-footer text-xs-center text-muted">
                    <span class="font-weight-bold">Generated:</span> @dateGenerated.toString
                </div>
            }
        </div>
    </div>
}