@import helper._
@import models.common.database.User

@(currentUser: User, selectedFilename: java.lang.String, invalidFile: java.lang.Boolean)

@views.html.common.main("RESOLVEWebIDE - byDesign", currentUser) {
    <div class="container-fluid custom-padding-top">
        <div class="card">
            <h4 class="card-header text-xs-center">Data Analysis</h4>

            <div class="alert alert-danger alert-dismissible fade in" role="alert" @if(!invalidFile) { style="display: none;" }>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Invalid file!</strong> The ID file must be a valid CSV file with user IDs.
            </div>

            <nav id="data-analysis-toolbar" class="navbar navbar-full" aria-label="data-analysis-toolbar">
                <span class="tag tag-default">
                    Currently Analysing:
                </span>
                <span class="navbar-text">
                    @selectedFilename
                </span>

                @helper.form(action = controllers.bydesign.dataanalysis.routes.DataAnalysis.upload(),
                    'enctype -> "multipart/form-data", 'class -> "form-inline float-xs-right", 'id -> "fileUpload") {
                    @CSRF.formField
                    <input type="file" id="idFile" name="idFile" accept=".csv, text/csv" required>
                    <button type="submit" class="btn btn-success">Upload</button>
                }
            </nav>

            <div class="card-block row">
                <div class="col-xs-3" style="border-style: dashed;">.col-xs-6 .col-md-4</div>
                <div class="col-xs-9" style="border-style: dashed;">.col-xs-12 .col-sm-6 .col-md-8</div>
            </div>
        </div>
    </div>
}