@import helper._
@import java.lang
@import java.util
@import models.common.database.ByDesignEvent
@import models.common.database.User

@(currentUser: User, selectedFilename: lang.String,
        invalidFile: lang.Boolean, eventsMap: util.Map[lang.Long, util.List[ByDesignEvent]])

@views.html.common.main("RESOLVEWebIDE - byDesign", currentUser) {
    <div class="container-fluid custom-padding-top">
        <div class="card">
            <h4 class="card-header text-xs-center">Data Analysis</h4>

            <div class="alert alert-danger alert-dismissible fade in" role="alert" @if(!invalidFile) { style="display: none;" }>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Invalid file!</strong> The ID file must be a valid CSV file with user IDs.
            </div>

            <nav id="data-analysis-toolbar" class="navbar navbar-full" aria-label="data-analysis-toolbar">
                <span class="tag tag-default">
                    Currently Analysing:
                </span>
                <span class="navbar-text">
                    @selectedFilename
                </span>

                @helper.form(action = controllers.bydesign.dataanalysis.routes.DataAnalysis.upload(),
                    'enctype -> "multipart/form-data", 'class -> "form-inline float-xs-right", 'id -> "fileUpload") {
                    @CSRF.formField
                    <input type="file" id="idFile" name="idFile" accept=".csv, text/csv" required>
                    <button type="submit" class="btn btn-success">Upload</button>
                    <a class="btn btn-danger" href="@controllers.bydesign.dataanalysis.routes.DataAnalysis.index()" role="button">Clear Analysis</a>
                }
            </nav>

            @if(!invalidFile && !eventsMap.isEmpty) {
                <div class="card-block row">
                    <div class="col-xs-3" style="border-style: dashed;">.col-xs-3</div>
                    <div class="col-xs-9">
                        <table class="table table-sm text-xs-center">
                            <thead class="thead-default">
                                <tr>
                                    <th>Author ID</th>
                                    <th>Code</th>
                                    <th>Correct</th>
                                    <th>Module Name</th>
                                    <th>Lesson Name</th>
                                    <th>Points Earned</th>
                                    <th>Time Spent on Lesson</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
}